<h2>Welkom bij AppeldepApp </h2>

<p>Je hebt je aangemeld met <%= @user.email %></p>

<p>Nog 1 stap: klik op de button om je account te activeren.</p>

<%= link_to "Bevestig mijn account", @user, class: "button" %>