<h2>
  Welkom!
</h2>
 <!-- Stub view for show action. To be replaced with relevant profile data after implementing CanCanCan access rights-->
<p>Je bent ingelogd als <%= @user.email %></p>

<p>(In een echte app kom je nu op een echte pagina.)</p>