<h1>
  Welkom!
</h1>
 <!-- Stub view for show action. To be replaced with relevant profile data after implementing CanCanCan access rights-->
<p>Veel plezier met in- en uitloggen</p>

<p>(In een echte app kom je nu op een echte pagina.)</p>