//Customized styling

h1 {
  font-family: 'Cabin Sketch', cursive;
}

#playfield {
  padding: 80px 0px;
  text-align: center;
}

.button {
  background-color: $info-color;
  color: $primary-color;

  &:focus {
    outline-color: $primary-color;
  }
}

/*********
 Forms
*********/

.loginfield {
  display: inline-block;
  margin-top: 5px;

  #label {
    display: block;
    text-align: left;
  }
}

/*************
 Nav bar stuff
************/

//Best way to put the line under the navbar (without the buttons
//overlapping the border line)
.top-bar {
  -moz-box-shadow: 0 1px $info-color;
  -webkit-box-shadow: 0 1px $info-color;
  box-shadow: 0 1px $info-color;
}

//Accent on the login link
#see_me {
  color: $white;
  background-color: $primary-color;

  &:hover {
    background-color: $jet;
  }
}

.button-group {
  a.button.secondary {
    color: $jet;
    text-decoration: underline;
    padding-left: 5px;
    padding-right: 30px;

    &:hover {
      background-color: $secondary-color;
      color: $primary-color;
    }
 }
}